{
  "presets": [
      "env", 
      "react"
    ],
    "plugins":[
      "transform-class-properties",
      "transform-object-rest-spread"
    ]
}

//https://www.npmjs.com/package/babel-plugin-transform-class-properties